:root {
    --darker: #0A2647;
    --dark: #144272;
    --light: #205295;
    --lightRGB: 32, 82, 149;
    --lighter: #2C74B3;
    --lighterRGB: 44, 116, 179;
}

body {
    background-color: var(--dark);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
}

#workspace-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

#workspace {
    display: grid;
    grid-template-rows: 2.5rem 1fr 1.2rem;
    width: 100%;
    height: 100%;
}

#controlbar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--dark);
    width: 100%;
    height: 100%;
    padding: .25rem .5rem;
}

#controls {
    display: flex;
}

#controls div {
    display: flex;
    align-items: center;
}

select {
    background-color: transparent;
    font-family: monospace;
    font-size: .8rem;
    font-weight: bold;
    color: var(--lighter);
    border: 1px solid var(--lighter);
    border-radius: .5rem;
}

select option {
    background-color: var(--dark);
    color: var(--lighter);
    border: none;
}

#font {
    margin-left: 10px;
    width: 3rem;
    height: 100%;
}

#tab-space-controls {
    margin-left: 30px;
}

#tab-space {
    margin-left: 10px;
    width: 3rem;
    height: 100%;
}

button {
    width: 200px;
    height: 100%;
    background-color: transparent;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    font-size: .9rem;
    color: var(--lighter);
    border: 1px solid var(--lighter);
    border-radius: .5rem;
    cursor: pointer;
}

button:hover {
    background-color: rgba(var(--lighterRGB), 0.2);
}

#text-input-container {
    display: grid;
    min-height: 100%;
    max-height: 100%;
    grid-template-columns: auto 1fr;
}

#line-count {
    position: relative;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    align-items: end;
    padding: .5rem 1rem;
    padding-left: .5rem;
    background-color: var(--darker);
    overflow-y: hidden;
}

#text-input {
    position: relative;
    background-color: var(--darker);
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: .5rem;
    text-align: left;
    vertical-align: top;
    font-family: monospace;
    font-size: 1rem;
    resize: none;
    overflow: auto;
    white-space: nowrap;
}

#line-count-textarea {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--dark);
    text-align: right;
    padding: .5rem 1rem;
    padding-left: .5rem;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
}

#dot-indicator {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--darker);
    font-weight: bolder;
    user-select: none;
    pointer-events: none;
}

#input {
    color: var(--lighter);
    padding: .5rem;
    caret-color: white;
}

textarea::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--lighter);
    border-radius: 3px;
}

textarea::-webkit-scrollbar-corner {
    background-color: transparent;
}

textarea::selection {
    background-color: var(--dark);
}

textarea::placeholder {
    color: darkgray;
}

textarea:focus {
    outline: none;
}

#statusbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

p {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    font-size: .9rem;
    font-weight: bold;
    color: var(--lighter);
    user-select: none;
}

#statusbar p {
    margin-left: .5rem;
}

#line-count p {
    font-size: 1rem;
    font-weight: normal;
    color: transparent;
}